body {
  font: 100%/1.5 system-ui;
  max-width: 100ch; /* keeps text from being too wide */
  margin-inline: auto; /* centers the body horizontally */
  padding-inline: 1em; /* adds space on small screens */
  box-sizing: border-box;
}
